/* TESTIMONIALS */


/*--------------------*/

#mu-testimonials {
    background-image: url("{{ asset('images/bg-01.jpg') }}");
    background-position: center center;
    background-size: cover;
    display: inline;
    float: left;
    width: 100%;
}

#mu-testimonials::before {
    background: #0090ea00;
    bottom: 0;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
    opacity: 0.8;
    z-index: 10;
}

.mu-testimonials-area {
    display: inline;
    float: left;
    padding: 100px 0 100px;
    width: 100%;
    z-index: 20;
}

.mu-testimonials-area h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.mu-testimonials-block {
    display: inline;
    float: left;
    margin-top: 10px;
    width: 100%;
}

.mu-testimonial-slide li {
    list-style: none;
    text-align: center;
}

.mu-client-quote {
    font-size: 35px;
    opacity: 0.7;
    margin-bottom: 25px;
}

.mu-testimonial-slide li p {
    color: #fff;
    margin-top: 50px;
    padding: 0 10%;
}

.mu-rt-name {
    margin-bottom: 5px;
    color: #fff;
    line-height: 1;
    margin-top: 25px;
    letter-spacing: 1px;
}

.mu-rt-title {
    color: #fff;
    font-size: 14px;
}

.mu-testimonial-slide .slick-dots {
    bottom: -50px;
}

.mu-testimonial-slide .slick-dots li {
    background-color: #f8f8f8;
    height: 4px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.mu-testimonial-slide .slick-dots li button {
    display: none;
}

.mu-testimonial-slide .slick-next {
    right: -60px;
}

.mu-testimonial-slide .slick-prev {
    left: -60px;
}

.mu-testimonial-slide .slick-prev:hover,
.mu-testimonial-slide .slick-prev:focus,
.mu-testimonial-slide .slick-next:hover,
.mu-testimonial-slide .slick-next:focus {
    color: #0091ea;
}

.mu-testimonial-slide .slick-prev:hover:before,
.mu-testimonial-slide .slick-prev:focus:before,
.mu-testimonial-slide .slick-next:hover:before,
.mu-testimonial-slide.slick-next:focus:before {
    color: #0091ea;
}